################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FluxoCaixa/FileContentIndex/f681fb50-595c-4aef-aeae-66294b020e14.vsidx
