@model FluxoCaixa.Application.ViewModel.CollaboratorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="margin-top:80px;">Insira os dados do Parceiro</h1>

<div class="row">
    <div class="col-md-4 mt-2">
        <form asp-action="Create"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Status" value="true" />
            <div>
                <h4>Tipo de Parceiro</h4>
                <div>
                    <label asp-for="CollaboratorTypeID"></label>
                    @Html.DropDownListFor(model => model.CollaboratorTypeID, (SelectList)ViewBag.collaboratorTypes, "Selecione..", new { @class = "form-control span12" })
                    <span asp-validation-for="CollaboratorTypeID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="DateBirth"></label>
                <input asp-for="DateBirth" type="date" class="form-control" />
                <span asp-validation-for="DateBirth" class="text-danger"></span>
            </div>

            <div>
                <h4>Endereço</h4>
                <div>
                    <label asp-for="addressVM.Street"></label>
                    <input asp-for="addressVM.Street" class="form-control" />
                </div>                
                <div>
                    <label asp-for="addressVM.City"></label>
                    <input asp-for="addressVM.City" class="form-control" />
                </div>
                <div>
                    <label asp-for="addressVM.State"></label>
                    <input asp-for="addressVM.State" class="form-control" />
                </div>
                <div>
                    <label asp-for="addressVM.CEP"></label>
                    <input asp-for="addressVM.CEP" class="form-control" />
                </div>
            </div>          
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary mt-5" />
                <a class="btn btn-secondary mt-5" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
