@model FluxoCaixa.Application.ViewModel.CollaboratorTypeViewModel

<h1>Detalhes</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" disabled />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-check-label">
                <label asp-for="Status" class="control-label"></label>
                <input class="form-check-input" asp-for="Status" disabled /> 
            </label>
        </div>
        <div>
            <a class="btn btn-secondary" asp-action="Index"> Voltar</a>
        </div>
    </div>
</div>

