@model FluxoCaixa.Application.ViewModel.PaymentTypeViewModel
@{
    ViewData["Title"] = "Editar pagamento";
}
<h1 class="text-center mb-4 fw-bold"><strong>@ViewData["Title"]</strong></h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card shadow-sm p-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserIncluded" />
                <input type="hidden" asp-for="DateIncluded" />

                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label">Tipo</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description" class="form-label">Descrição</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Status" /> Status
                    </label>
                </div>

                <div class="text-center">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .form-label {
        font-weight: 600;
        color: #6c757d;
    }

    .form-control {
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #ccc;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>