.navbar {
    background-color: #ff5733; /* Escolha a cor que desejar */
}

html {
  font-size: 14px;
}

@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.top-bar {
    width: 100%;
    height: 60px; /* Pode ajustar a altura conforme necessário */
    background-color: #4CAF50; /* Cor de fundo da barra */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Para manter a barra fixa no topo da página */
    top: 0;
    left: 0;
}

